# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# PyInstaller & Builds
build/
dist/
release/
*.spec

# Logs & triggers
*.log
*.trigger
*.bmp
*.png
!codex_base.png

# OS & Editors
.vscode/
.idea/
Thumbs.db
Desktop.ini
